/* login.css */

/* Apply a background color to the entire login page */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('photos/13399208_5205447.jpg'); /* Replace with the path to your background image */
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-attachment: fixed; /* Fixed background image */
    background-position: center center; /* Center the background image */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Center the login form vertically and horizontally */
#login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-group {
    text-align: left;
    margin-bottom: 10px; /* Adjust the margin as needed */
}

/* Style the logo and page title */
#logo {
    max-width: 150px;
    margin-bottom: 20px;
}

#page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style the text above the login button */
#login-text {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}

/* Style the login button */
#login-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add hover effect to the login button */
#login-button:hover {
    background-color: #0056b3;
}
